{{ define "main"}}

<!-- checking blog -->
{{ if or (in site.Params.mainSections .Section) (eq .Section "categories") (eq .Section "tags") }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="text-center mb-5">
          <h3 class="h2 mb-4 post-title">{{.Title}}</h3>
          <ul class="card-meta list-inline">
            <li class="list-inline-item">
              <span>{{ .PublishDate.Format "02 Jan 2006" }}</span>
            </li>
            <li class="list-inline-item"> | </li>
            <li class="list-inline-item">
              <ul class="card-meta-tag list-inline">
                {{range .Params.tags}}
                <li class="list-inline-item"><a href="{{`tags` | absURL}}/{{.| urlize}}">{{.}}</a></li>
                {{end}}
              </ul>
            </li>
          </ul>
        </div>

        {{ with .Params.image }}
        <div class="mb-5 text-center">
          {{ partial "image.html" (dict "Src" . "Class" "img-fluid rounded" "Alt" "Post image") }}
        </div>
        {{ end }}

        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>

    <div class="single-post-meta">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6 text-center text-md-right mt-4 mt-md-0">
          {{- partial "post-share.html" . -}}
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-10">
        <nav class="mt-4">
          <nav class="mb-md-50">
            <ul class="pagination justify-content-between">
              <li class="nav-prev-next">
                {{ with .Next }}
                <a class="nav-link" href="{{ .Permalink }}">
                  <i class="las la-angle-left"></i> Next
                </a>
                {{ end }}
              </li>
              <li class="nav-prev-next">
                {{ with .Prev }}
                <a class="nav-link" href="{{ .Permalink }}">
                Prev <i class="las la-angle-right"></i>
                </a>
                {{ end }}
              </li>
            </ul>
          </nav>
        </nav>
      </div>
    </div>
  </div>
</section>

{{ else }}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}

{{ end }}
